<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Short Description about API</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
    <div class="container-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png" style="width:100px;height:100px;">
        <a class="navbar-brand" href="#">Ala-Too Teachers</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="jumbotron"><h1>How the API works</h1>
        <p>To access data by <b>REST API</b>  entry point is /teachers <br>
        You can send <b>POST</b> requests to /teachers/add to add teachers.<br>
        To get a specific teacher with id send a <b>GET</b> request or visit /teachers/{Insert_ID_Number}<br>
        To get all teachers you can visit or send a <b>GET</b> request to /teachers/all.<br>
        To delete a teacher with specific id send a <b>DELETE</b> request to /teachers/{Insert_ID_Number}<br>
        To replace a specific id send a <b>PUT</b> request to /teachers/{Insert_ID_Number}<br>
        </p>






    </div>



</body>
</html>